section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  max-width: 600px;
}

/* Intro */


.myself {
  width: 250px;
  height: 250px;
  margin-top: 40px;
  /* TODO */
}

.myself img {
  object-fit: cover;
  object-position: 0% 10%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.pic {
  box-shadow: 0px 6px 4px 0px #999;
}

h1 {
  margin-top: 20px;
  font-size: 32px;
}

h3 {
  color: #444;
  font-size: 20px;
}

p {
  text-align: center;
  max-width: 90%;
  margin-top: 20px;
  font-size: 20px;
  color: #444;
  text-wrap: pretty;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
}

/* Interactive Button */

.interactive-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  margin-top: 15px;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
  transform: rotate(180deg);
}

.svgIcon path {
  fill: white;
}


.interactive-button.touch {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(181, 160, 255);
  align-items: center;
}


.interactive-button.touch .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(200%) rotate(180deg);
}

.button-text {
  opacity: 0;
  color: #fff;
  position: absolute;
}


.interactive-button.touch .button-text {
  opacity: 1;
}

.interactive-button::before {
  position: absolute;
  bottom: -20px;
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}


.interactive-button.touch::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}

/* Projects */

.projects {
  scroll-snap-type: x mandatory;
  overflow-x: hidden;
  will-change: transform;
  -ms-scroll-snap-type: mandatory;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.cards-container {
  width: fit-content;
  max-width: 450px;
  height: 525px;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  overflow-x: scroll;
  display: flex;
  scroll-behavior: smooth;
  align-items: center;
}

.cards-container::-webkit-scrollbar,
.cards-container::-webkit-scrollbar-track {
  position: absolute;
  top: -10000000px;
}

.container-leftarrow,
.container-rightarrow {
  display: none;
}

/* Skills */

.skills-container {
  max-width: 600px;
}

.skills {
  margin-top: 20px;
  width: 100%;
  justify-content: center;
  gap: 20px;
  padding: 0px 20px;
}

.skill {
  font-size: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding: 0px 20px;
}

.skills-graph {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.tech-skill {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 30%;
}

.skill-img {
  width: 70px;
  height: auto;
}

.skill input {
  margin-left: auto;
}

.range:disabled {
  max-width: 400px;
  appearance: none;
  height: 8px;
  border-radius: 100px;
  width: 50vw;
}

.range:disabled::-webkit-slider-thumb {
  appearance: none;
}

/* Languages */

.esp:disabled {
  background: linear-gradient(to right,
      #007bff 0%,
      #007bff var(--value, 100%),
      #ccc var(--value, 100%),
      #ccc 100%);
}

.eng:disabled {
  background: linear-gradient(to right,
      #007bff 0%,
      #007bff var(--value, 60%),
      #ccc var(--value, 60%),
      #ccc 60%);
}


/* Contact */

.contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.email,
.phone {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.email p,
.phone p {
  user-select: text;
}

.contact {
  margin-bottom: 60px;
}

/* Footer */

footer {
  height: 50px;
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  padding: 0px 20px;
  justify-content: space-between;
  bottom: 0;
  position: fixed;
  background-color: #fff;
}


/* Dark Theme */
h1.dark,
h2.dark,
label.dark {
  color: rgba(255, 255, 255, 0.9);
}

h3.dark {
  color: rgba(255, 255, 255, 0.6)
}

p.dark {
  color: rgba(190, 190, 190, 0.7);
}

.myself .pic.dark,
.button.dark {
  box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 1);
  background-color: #b3a033;
}

footer.dark {
  background-color: rgba(50, 50, 50, 1);
}

/* Desktop */

@media only screen and (min-width: 767px) {
  section {
    max-width: 600px;
  }

  .projects {
    width: fit-content;
  }

  .container-leftarrow,
  .container-rightarrow {
    position: absolute;
    z-index: 200;
    height: 50px;
    cursor: pointer;
    display: initial;
  }

  .container-leftarrow:hover,
  .container-rightarrow:hover {
    transform: scale3d(1.2, 1.2, 1);
  }

  .container-leftarrow {
    left: 0%;
    top: 50%;
  }

  .container-rightarrow {
    right: 0%;
    top: 50%;
  }

  .interactive-button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
  }

  .interactive-button:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(200%) rotate(180deg);
  }

  .interactive-button:hover .button-text {
    opacity: 1;
  }

  .interactive-button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }

}