* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  user-select: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}

.main-body.dark {
  background-color: rgba(0, 0, 0, 0.8);
}

@media only screen and (min-width: 767px) {
  body {
    overflow-x: hidden;
  }
}